@font-face {
  font-family: 'Beausite Text Light';
  src: 
  url('../fonts/beausite-text-light.woff2') format('woff2'), 
  url('../fonts/beausite-text-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beausite Detail Clear';
  src: 
  url('../fonts/beausite-detail-clear.woff2') format('woff2'), 
  url('../fonts/beausite-detail-clear.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beausite Classic Bold';
  src: 
  url('../fonts/beausite-classic-bold.woff2') format('woff2'), 
  url('../fonts/beausite-classic-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}