//  Table of Contents:
//
//   1. Mixins
//   2. Global
//   3. Animations
//   4. Color
//   5. Typography
//   6. Layout


// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

// 2. Global
// ---------

a {
  transition: all .35s cubic-bezier(.39, .575, .565, 1);
}

a:focus {
color: $white;
}

body {
  cursor: default;
  font-kerning: normal;
  margin: 0
}

svg {
  max-width: 100%;
}

::selection {
  background: $primary-color;
  color: $black;
}

:focus {
  outline: 0;
}

// 3. Animations
// -------------

.swup-transition-fade-up {
  transition: 0.5s;
  opacity: 1;
  transform: translateY(0);
}

html.is-animating .swup-transition-fade-up {
  opacity: 0;
  transform: translateY(-10px);
}

.swup-transition-fade {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .swup-transition-fade {
  opacity: 0;
}

.swup-transition-color {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .swup-transition-color {
  opacity: 0;
}

// 4. Color
// --------

.primary-color {
  color: get-color(primary);
}

.secondary-color {
  color: get-color(secondary);
}

// 5. Typography
// -------------

.underline {
  border-bottom: 1px solid $white;
}

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

p a {
  border-bottom: 1px solid $black;
}

.sans-light {
  font-family: $sans-light;
}

.sans-regular {
  font-family: $sans-regular;
}

.sans-bold {
  font-family: $sans-bold;
}

// 6. Layout
// ---------

main {
  @include breakpoint(small only) {
    @include padding(1,1,1,1);
  }
}


.button {
border: 1px solid $white;
}

.button:hover {
color: get-color(secondary);
}