---
layout: default
---

<div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
  <div class="small-12 cell text-center">
    <h1 class="sans-bold text-uppercase">{{site.title}}</h1>
  </div>
</div>

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell text-center">
    <h5 class="sans-bold text-uppercase">Rules</h5>
    <ul class="vertical menu h5">
      <li>No Names</li>
      <li>No Phones</li>
      <li>No Small Talk</li>
    </ul>
  </div>
</div>


<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell text-center">
    <h4>{{site.description}}</h4>
  </div>
</div>

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="cell text-center">
    <h5 class="sans-bold text-uppercase">Next Event</h5>
    <h5>{{page.event-start | date: '%B %d, %Y'}} — {{page.event-start | date: "%l" }} -{{page.event-end | date: "%l%p" }}</h5>
    <h5><a href="{{page.event-map}}">{{page.event-address }}</a></h5>
    <a class="button hollow sans-bold text-uppercase margin-top-1" href="{{page.event-link}}">Buy Tickets</a>
  </div>
</div>



<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-11 medium-5 large-4 xlarge-4 xxlarge-3 cell text-center padding-top-2">
    <form action="{{site.subscribe}}" method="post" target="_blank" data-abide novalidate>
     
      <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i>There are some errors in your form.</p>
      </div> 

      <div class="input-group">
        <input class="input-group-field" type="email" name="EMAIL" placeholder="Subscribe to our newsletter">
        <div class="input-group-button">
        <input type="submit" class="button hollow" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="grid-x grid-padding-x align-center">
<div class="small-12 cell text-center">
  <ul class="menu align-center">
  <li><a href="/privacy-policy/"><small>© {{'now' | date: "%Y"}} {{site.company}}</small></a></li>
  <li><a href="/privacy-policy/"><small>Privacy Policy</small></a></li>
  <li><a href="/terms-and-conditions/"><small>Terms and Conditions</small></a></li>
  <li><a href="mailto:{{site.email}}"><small>{{site.email}}</small></a></li>
  </ul>
</div>
</div>