---
layout: default
---


    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 cell text-center">
        <h1 class="sans-bold text-uppercase">{{site.title}}</h1>
      </div>
    </div>
    
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell text-center">
        <h5 class="sans-bold text-uppercase">Rules</h5>
        <ul class="vertical menu h5">
          <li>No Names</li>
          <li>No Phones</li>
          <li>No Small Talk</li>
        </ul>
      </div>
    </div>
    
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell text-center">
        <h5>{{site.description}}</h5>
        <h5>{{site.tagline}}</h5>
      </div>
    </div>
    
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell text-center">
        <h5 class="sans-bold text-uppercase">Next Event</h5>
        <h5>{{page.event-start-date | date: '%B %d, %Y'}} — {{page.event-start-date | date: "%l:%M%p" }}</h5>
        <h5><a href="{{page.event-map}}">{{page.event-address }}</a></h5>
      </div>
    </div>
    
    <!--
    <div class="grid-x grid-padding-x align-center">
      <div class="small-12 medium-6 large-4 cell text-center">
        <a class="button hollow sans-bold text-uppercase expanded" href="{{page.event-link}}">Register</a>
      </div>
    </div>
    
    <div class="grid-x grid-padding-x align-center">
      <div class="small-12 medium-6 large-4 cell text-center">
        <a class="button hollow sans-bold text-uppercase expanded" href="{{page.event-link}}">Newsletter</a>
      </div>
    </div>
    -->
    
    <div class="grid-x grid-padding-x align-center">
      <div class="small-10 medium-4 large-4 xlarge-3 xxlarge-3 cell text-center">
        <div class="stacked button-group">
          <a class="button text-uppercase expanded" href="{{page.event-link}}">Register</a>
          <button class="button text-uppercase expanded margin-top-1" data-open="newsletter">Newsletter</button>
        </div>
      </div>
    </div>
    
    <!--
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-11 medium-5 large-4 xlarge-4 xxlarge-3 cell text-center padding-top-2">
        <form action="{{site.subscribe}}" method="post" target="_blank" data-abide novalidate>
         
          <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i>There are some errors in your form.</p>
          </div> 
    
          <div class="input-group">
            <input class="input-group-field" type="email" name="EMAIL" placeholder="Subscribe to our newsletter">
            <div class="input-group-button">
            <input type="submit" class="button hollow" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
    -->
    
    <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell text-center">
      <ul class="vertical medium-horizontal menu align-center">
      <li><a href="/privacy-policy/"><small>© {{site.title}} {{'now' | date: "%Y"}}</small></a></li>
      <li><a href="/privacy-policy/"><small>Privacy Policy</small></a></li>
      <li><a href="/terms-and-conditions/"><small>Terms and Conditions</small></a></li>
      <li><a href="mailto:{{site.email}}"><small>{{site.email}}</small></a></li>
      </ul>
    </div>
    </div>